@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');

body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

:root {
  --c-primary: #5ECE7B;
}

.flex {
  display: flex;
}

.flex-centered {
  display: flex;
  align-items: center;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-thumb {
  background: rgb(209, 209, 209);
}

.error {
  color: red;
  display: none;
  margin-top: 10px;
  font-size: 16px;
}